    * {
    margin: 0;
        padding: 0;
}

body {
    background-color: #dbdbdb;
}

html {
    font-size: 125%;
    line-height: 1.5;
}

main {
    min-height: 100vh;
}

body {
    margin: 0 auto;
    max-width: 40%;
    min-width: 700px;
}

.navbar {
    
    font-family: 'Raleway', sans-serif;
}

.navhover:hover {
    color: black;
    background-color: white;
}

.ref {
    margin-left: auto;
}

.web {
    
}


nav {
    background-color: #383838;
    
}

.pics {
    margin: 0 auto;
    border: none;
}

.pdf {
    margin: 20px 2% 3px 2%;
    color: crimson;
     font-family: 'Raleway', sans-serif;

}

#stylescape {
    text-align: center;
    color: crimson;
    
}

#websitelink {
    font-family: 'Raleway', sans-serif;
    margin: 20px 0 20px 0;
    font-size: 20x;
    font-weight: 800;
    
}

.dropbtn0 {
    background-color: crimson;
    color: white;
    
    font-size: 21px;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.dropbtn {
    background-color: black;
    color: white;
   
    font-size: 21px;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin: 14px 0 0 0;
    

    
    

}


.droptext {
    text-align: left;
    
}

.dropdown-content a {
    color: black;
   text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: crimson;
    display: flex;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:  15px;
    text-decoration: none;
    
}

.active {
    background-color: black;
    color: crimson;
    margin: -15px 0px;
}


.notactive {
    background-color: crimson;
    color: black;
    margin: -15px 0px;
}
.moodboard {
    margin: 22px 2% 70px 2%;
}

main {
    background-color: white;
    padding: 20px;
    min-width: 60%;
    max-width: 300%;
    margin: 0 auto;
    width: 50;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

img {
    width: 100%;
   
    margin: 0 auto;
    padding: 10px 0 10px 0;

}

embed {
    width: 100%;
    
    margin: 0 auto;
}

article {
    background-color: white;
    width: 47.3%;
    margin: 0px auto 0px;
}



.block {
    height: 1px;
    width: 100%;
    background-color: darkgrey;
    margin: 30px 0px 30px 0px;
}

.block2 {
    height: 1px;
    width: 100%;
    background-color: darkgrey;
    margin: 80px 0px 80px 0px;
}

.block10 {
    height: 1px;
    width: 25%;
    background-color: darkgrey;
    margin: 30px 0px 30px 0px;
    margin: 0 auto;
}


.space {
    height: 720px;
    width: 100%;
    background-color: white;
    margin: 30px 0px 30px 0px;
    align-content: center;
}

#fieldlink {
    color: crimson;
    text-decoration: none;
}

#fieldlink:hover {
    text-decoration: underline;
}

.moodboard {
    margin: 0 auto border-left: none;
    max-width: 600px;
}



.list {
    font-family: 'Raleway', sans-serif;
    margin: 20px 2% 20px 2%;
    font-size: 14.5px;
    font-style: italic;
}

strong {
    font-size: 15px;
    font-style: italic
}

h6 {
    font-family: 'Raleway', sans-serif;
    margin: 22px 2% 70px 2%;
    color: black;
}

h5 {
    font-family: 'Raleway', sans-serif;
    margin: 30px 0px 40px 2%;
    color: crimson;
    font-size: 40px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    margin: 0px 2% 13px 2%;
    color: crimson;
}

h3 {
    font-family: 'Raleway', sans-serif;
    margin: 20px 2% 3px 2%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    margin: 20px 2% 20px 2%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    margin: 20px 0 -32px 2%;
}

p {
    font-family: 'Raleway', sans-serif;
    margin: 20px 2% 20px 2%;
    font-size: 14.5px;
