* {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.menu {
    height: 46px;
    background-color: white;
    opacity: 0.8;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

#logophone {
    height: 60%;
    display: block;
    float: right;
    margin: 9.5px;
}

#menuicon {
    height: 60%;
    display: block;
    float: left;
    margin: 9.5px;
}

.navbar {
    display: none;
}

h3 {
    position: relative;
    text-align: center;
    font-family: 'WebFont', Arial, sans-serif;
    font-size: 6vh;
    width: 25vh;
    margin: 0 auto;
}

li {
    width: 25vh;
    margin: 0 auto;
    padding-top: 8vh;
}

#logophoneham {
    width: 15vw;
    max-width: 150px;
    display: block;
    margin: 0 auto;
    padding-top: 10vh;
    position: relative;
}

#close {
    top: 0 !important;
    width: 28px;
    display: block;
    position: absolute;
    margin: 10px;
}

ul {
    position: fixed;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    list-style-type: none;
    background-color: RGBA(255, 255, 255, 0.98);
    z-index: 101;
    transform: translateX(-100vw);
    transition: 0.5s all;
}

.menuToggled {
    visibility: visible;
    transform: translateX(0);
}

#navButton img {
    height: 60%;
    display: block;
    float: left;
    margin: 9.5px;
}

#homeHover a {
    color: black;
    text-decoration: none;
}

#homeHover a:hover {
    color: #E7302A;
}

#homeHover a:active {
    color: #E7302A;
}

#eventsHover a {
    color: black;
    text-decoration: none;
}

#eventsHover a:hover {
    color: #2DAAE1;
}

#eventsHover a:active {
    color: #2DAAE1;
}

#infoHover a {
    color: black;
    text-decoration: none;
}

#infoHover a:hover {
    color: #F39200;
}

#infoHover a:active {
    color: #F39200;
}

#contactHover a {
    color: black;
    text-decoration: none;
}

#contactHover a:hover {
    color: #2FAC66;
}

#contactHover a:active {
    color: #2FAC66;
}

#eventspanel2 {
    min-width: 300px;
    width: 100vw;
    background-image: url(../images/backnum2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    min-width: 300px;
    padding-top: 30px;
    padding-bottom: 100px;
}

#eventspanel2 article {
    padding-bottom: 0px;
}

#eventspanel2 h2 {
    font-family: 'WebFont', Arial, sans-serif;
    font-size: 12vw;
    line-height: 10.5vw;
    padding-left: 10vw;
    padding-top: 20vw;
}

#eventspanel2 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding-left: 10vw;
    padding-right: 50vw;
    padding-top: 60px;
}

#arrrow {
    padding-left: 10vw;
    width: 40px !important;
    padding-top: 10px;
    margin: 0 !important;
}

.seemore p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding-top: 30px !important;
}

.seemore a {
    color: #2FAC66;
    text-decoration: none;
}

#eventpic1 {
    width: 40vh;
    padding-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10vh;
}

#eventpic7 {
    width: 15vh;
    padding-top: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15vh;
}

#griddesktop {
    display: none;
}

#desktop {
    display: none;
}

#eventspanel3 {
    min-width: 300px;
    width: 100vw;
    background-image: url(../images/backnum2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    min-width: 300px;
}

#right #eventspanel3 article {
    padding-bottom: 20px !important;
}

#eventspanel3 h2 {
    font-family: 'WebFont', Arial, sans-serif;
    font-size: 6vw;
    line-height: 5.5vw;
    padding-left: 10vw;
    padding-top: 20vw;
}

#eventspanel3 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding-left: 10vw;
    padding-right: 50vw;
    padding-top: 60px;
}

#eventspanel3 img {
    width: 32vw;
    display: block;
    max-width: 350px;
    margin: 0 auto;
}

#h2fix {
    padding-top: 100px;
}

#leftphone {
    width: 50vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

#leftphone h2 {
    font-family: 'WebFont', Arial, sans-serif;
    font-size: 7vw;
    line-height: 7vw;
    padding-left: 10vw;
    padding-top: 0vw;
}

#leftphone p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    padding-left: 10vw;
    padding-right: 3vw;
    padding-top: 60px;
}

#rightphone {
    width: 50vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
}

#rightphone img {
    width: 32vw;
    display: block;
    max-width: 350px;
    margin: 0 auto;
}

#phonedisplay1 {
    background-image: url(../images/backnum2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-width: 300px;
}

#desktopdisplay {
    display: none;
}

#phonetitlefix {
    padding-top: 11vw !important;
}

#pfix {
    padding-right: 15vw !important;
}

#seeMore1 a {
    color: #2DAAE1;
    text-decoration: none;
}

.details1 a {
    color: #2DAAE1;
    text-decoration: none;
}

.details2 a {
    color: #F39200;
    text-decoration: none;
}

.details3 a {
    color: #E7302A;
    text-decoration: none;
}

.details4 a {
    color: #2FAC66;
    text-decoration: none;
}

.details4r a {
    color: #2DAAE1;
    text-decoration: none;
}

#footer {
    width: 100vw;
    background-color: #1E1E1E;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
}

#block {
    max-width: 300px;
    height: 1px;
    background-color: white;
    margin: 0 auto;
    opacity: 0.3;
}

#block2 {
    max-width: 300px;
    height: 20px;
    background-color: #1E1E1E;
    margin: 0 auto;
    opacity: 0.3;
}

#footer article {
    font-family: 'WebFont', Arial, sans-serif;
    line-height: 10.5vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
}

#social {
    padding-top: 10px !important;
}

.socialLink {
    padding-top: 7px;
    height: 10px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
}

#footer h2 {
    font-size: 20px;
    line-height: 40px;
    color: white;
}

#footer p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 9px;
    line-height: 25px;
    color: white;
    padding-right: 15px;
    padding-left: 15px;
}

@keyframes eventkey {
    0% {
        background-image: url(../images/events1.jpg);
    }

    25% {
        background-image: url(../images/events2.jpg);
    }

    50% {
        background-image: url(../images/events33.jpg);
    }

    75% {
        background-image: url(../images/events4.jpg);
    }

    100% {
        background-image: url(../images/events1.jpg);
    }

}

@font-face {
    font-family: 'MyWebFont';
    src: url('WebFont.eot');
    src: url('WebFont.eot?#iefix') format('embedded-opentype'),
        url('WebFont.woff') format('woff'),
        url('WebFont.ttf') format('truetype'),
        url('WebFont.svg#webfont') format('svg');
}

@media only screen and (max-width: 420px) {

    h2 {
        font-size: 45px !important;
        line-height: 38px !important;
    }

    h1 {
        font-size: 80px !important;
    }

    p {
        font-size: 5vw !important;
        line-height: 8vw !important;
    }

    #rightphone img {
        padding-top: 110px !important;
    }

}

@media only screen and (min-width: 900px) {

    #eventpic7 {
        width: 20vh
    }

    #phonedisplay1 {
        display: none;
    }

    #desktop {
        display: block;
    }

    #contact:hover {
        color: #2FAC66;
    }

    #info:hover {
        color: #F39200;
    }

    #events:hover {
        color: #2DAAE1;
    }

    #home:hover {
        color: #E7302A;
    }

    #events {
        text-decoration: none;
    }

    .menu {
        display: none;
    }

    .navbar {
        display: block;
        height: 70px;
        background-color: white;
        opacity: 0.8;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    #logo {
        height: 50%;
        padding: 17px 70px;
        float: left;
        display: block;
    }

    .navbar a {
        float: right;
        display: block;
        color: black;
        text-align: center;
        padding: 26px 70px;
        text-decoration: none;
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
    }

    #active {
        text-decoration: underline;
    }

    #griddesktop {
        display: flex;
    }

    #griddesktop2 {
        display: flex;
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .leftdesktop {
        position: relative;
        z-index: 77;
        width: 50vw;
    }

    .rightdesktop {
        position: relative;
        z-index: 1;
        width: 50vw;
    }

    #eventspanel2 article {
        padding-bottom: 8vw;
    }

    #eventspanel2 h2 {
        padding-top: 8vw;
    }

    #eventspanel2 p {
        padding-right: 10vw;
    }

    .seemoredesktop p {
        padding-top: 30px !important;
    }

    .seemoredesktop a {
        color: dodgerblue;
        text-decoration: none;
    }

    #eventpic1 {
        width: 80%;
        padding-top: 8vw;
    }

    #gridphone {
        display: none;
    }

    #eventspanel3 article {
        padding-bottom: 8vw;
    }

    #eventspanel3 h2 {
        padding-top: 8vw;
    }

    #eventspanel3 p {
        padding-right: 10vw;
    }

    #titlesfix {
        font-size: 10vw !important;
    }

    #footer article {
        font-family: 'WebFont', Arial, sans-serif;
        line-height: 10.5vw;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-top: 50px;
    }

    .socialLink {
        padding-top: 17px;
        height: 10px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 50px;
    }

    #footer p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 100;
        font-size: 16px;
        line-height: 25px;
        color: white;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #block {
        max-width: 80vw;
        height: 1px;
        background-color: white;
        margin: 0 auto;
        opacity: 0.3;
    }

    #block2 {
        display: none;
    }

    #desktopdisplay {
        display: block;
    }

    #phonedisplay {
        display: none;
    }

    #griddesktop1 {
        display: none;
    }

}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    /* 1 */
    overflow: visible;
}

button,
select {
    /* 1 */
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}